<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2E2E2D;
    //background: url('../images/macbg-white.jpg');
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
}

.section {
    padding: 20px;
}

.section__title {
    margin: 40px;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    line-height: .6;
    color: #C2C1BD;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section__tweets {
    display: flex;
    justify-content: center;
}

.tweet-table {
    background: #ffffff;
    color: #2E2E2D;
    list-style: none;
    padding: 10px 20px;
    margin: 25px 0;
    width: 1000px;
    border: 5px solid #C2C1BD;
    border-radius: 25px;
}

.tweet-table__row {
    font-size: 18px;
    padding: 15px;
}

.tweet-table__cell {
    padding: 10px;
}
</style>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Twitter Feed</title>
    </head>
    <body>
        <section class="section">
        <h1 class="section__title">Cerys' Feed</h1>
            <div class="section__tweets">
                <table class="tweet-table">
                    {% for status in statuses %}
                        <tr class="tweet-table__row">
                            <td class="tweet-table__cell"><strong>{{ status.user }}:</strong></td>
                            <td class="tweet-table__cell">{{ status.date|date("d/m/Y") }}</td> 
                            <td class="tweet-table__cell">{{ status.tweet|raw }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </body>
</html>
